<div class="hero">
  <button routerLink="/mods" class="quick-mods" mat-raised-button color="accent">Browse mods</button>
  <mat-card>
    <p>You think that an MPX should fire .50cal rounds, an IFAK should restore 1000 hit
      points, or maybe you think a gun should have your favorite anime character skin ?</p>
    <p>Well, good news for you. EmuTarkov is fully moddable and you can make any weapon fire any cartridge, make medkits
      that heal 1000 hitpoints, or modify
      item skins to match your preferences.</p>
  </mat-card>
</div>
