/* You can add global styles to this file, and also import other style files */

@import "./assets/themes/theme.scss";

footer {
  background: mat-color($emu-theme-primary);
  color: $on-dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
