<footer>
  <mat-nav-list dense>
    <h3 matSubheader>EmuTarkov Mods</h3>
    <a mat-list-item routerLink="/home">Home</a>
    <a mat-list-item routerLink="/mods">Mods</a>
  </mat-nav-list>

  <mat-nav-list dense>
    <h3 matSubheader>Mods</h3>
    <a mat-list-item href="#">Server Mods</a>
    <a mat-list-item href="#">Client Mods</a>
  </mat-nav-list>

  <mat-nav-list dense>
    <h3 matSubheader>Support</h3>
    <a mat-list-item href="https://sorata-senpai.github.io/docs/Homepage" target="_blank">Documentation</a>
    <a mat-list-item href="https://sorata-senpai.github.io/docs/faq/FAQ" target="_blank">FAQ</a>
  </mat-nav-list>

  <mat-nav-list dense>
    <h3 matSubheader>Community</h3>
    <a mat-list-item href="https://discord.gg/3sR4KKS" target="_blank">Discord</a>
  </mat-nav-list>

  <mat-nav-list dense>
    <h3 matSubheader>Other</h3>
    <a mat-list-item href="#">Legal Notice</a>
  </mat-nav-list>
</footer>
